[submodule "submodules/plog"]
	path = submodules/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "submodules/Catch2"]
	path = submodules/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "submodules/CTMAL"]
	path = submodules/CTMAL
	url = git@bitbucket.org:kulvait/kct_ctmal.git
[submodule "submodules/CLI11"]
	path = submodules/CLI11
	url = https://github.com/CLIUtils/CLI11
